html,
button {
  font-family: 'Overpass';
  font-weight: 600;
}

body {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

.section {
  background-color: white;
  width: 1280px;
  margin: auto;
  position: relative;
}

.upcase {
  text-transform: uppercase;
}

.beige {
  background-color: #fff5da;
}

.darker-beige {
  background-color: #f3dcb0;
}

.white-strip {
  height: 70px;
}

.brown-strip {
  height: 65px;
  background-color: #733e00;
}

/* Header */

#header {
  display: flex;
  height: 150px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

#header-logo {
  width: 130px;
  position: absolute;
  left: 0px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  width: 700px;
  font-size: 22px;
  margin: 50px;
}

#navigation a {
  color: #a24b00;
  text-decoration: none;
}

/* Footer */
#footer {
  height: 288px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#footer-logo {
  width: 160px;
}

#footer-contact {
  font-size: 20px;
  color: #8b4400;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
}

#sitemap {
  text-align: right;
  display: flex;
  flex-direction: column;
}

#sitemap h1 {
  font-size: 27px;
  color: #d48800;
}

#sitemap a {
  font-size: 19px;
  color: #a24f00;
}

.brown-strip span {
  position: absolute;
  top: 25;
  left: 30;
  color: white;
  font-size: 12px;
}

/* Home page */
#banner {
  position: relative;
}

#appointment-btn {
  background-color: #fc861f;
  border: 8px solid #ffc376;
  font-size: 24px;
  color: white;
  padding: 30px;
  position: absolute;
  width: 370px;
  height: 30px;
  top: 340px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-bg {
  width: 100%;
  z-index: 1;
}

#location-header {
  font-size: 42px;
  color: #8b4000;
  height: 182px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#location {
  height: 485px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#map {
  width: 370px;
  margin: 30px;
}

#address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}

#address-name {
  font-size: 31px;
  color: #8b4000;
  margin-top: 1em;
  margin-bottom: 1em;
}

.address-details {
  color: #b95f00;
  font-size: 29px;
  margin-bottom: 1em;
}

/* About page */

.banner-section {
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.line-heading {
  width: 1000px;
  margin: auto;
  text-align: center;
  border-bottom: 4px solid #8b4000;
  line-height: 0em;
  margin-top: 100px;
  font-size: 48px;
  color: #8b4000;
  text-transform: uppercase;
}

.line-heading span {
  background: #fff5da;
  padding: 0 20px;
}

.banner-section p {
  font-size: 25px;
  color: #a25300;
  padding: 20px;
  width: 800px;
  margin: auto;
  text-align: center;
}

#about-employees {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}

.employee-img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.employee span {
  color: #a25300;
  font-size: 25px;
}

.employee.employee-title {
  font-size: 29px;
}

/* Services */
#services {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
}

.service-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8b4000;
  font-size: 34px;
  text-transform: uppercase;
  cursor: pointer;
}

#hair-service {
  background-color: #ffc86f;
}

#skin-service {
  background-color: #ffb372;
}

#wax-service {
  background-color: #ffc6a1;
}

#bridal-service {
  background-color: #ecc9b9;
}

#kimono-service {
  background-color: #eec6a2;
}

#services-section {
  padding-bottom: 100px;
}

#expand-text {
  font-size: 30px;
  color: #8b4000;
  margin-top: 40px;
  text-align: center;
}

#hover-text {
  font-size: 18px;
  color: #8b4000;
  text-decoration: underline;
  text-align: center;
}

.service-details {
  padding: 30px 100px;
}

.service-details h1 {
  font-size: 48px;
  color: #8b4000;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0;
}

.service-options {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-option {
  min-width: 400px;
}

.service-options h3 {
  font-size: 35px;
  color: #8b4000;
  text-decoration: underline;
  margin: 0;
}

.service-option-details {
  padding: 20px;
  font-size: 25px;
  color: #8b4000;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.service-option-details span {
  margin-bottom: 15px;
}

.service-option-details span span {
  display: block;
  padding: 10px 20px;
}

.service-option-pricing {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

#bridal .service-options {
  display: block;
  width: 600px;
}

#membership {
  flex-grow: 4;
}

#kimono-catalog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#kimono-catalog {
  display: flex;
  border-bottom: #ffaf62 solid 16px;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 80px;
}

.kimono-item {
  max-height: 190px;
}

.hidden {
  display: none;
}

.show {
  display: block !important;
}

#kimono-4 {
  max-height: 127px;
}

#kimono-17,
#kimono-21 {
  max-height: 160px;
}

#kimono-19 {
  max-height: 140px;
}

#kimono-catalog img {
  transition: transform 0.2s;
  cursor: pointer;
}

#kimono-catalog img:hover {
  transform: scale(2);
}

/* Rent a station */

#stations {
  width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
}

.station-option {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  font-size: 35px;
  border-radius: 25px;
}

#manicurist {
  background-color: #eec6a2;
}
#esthetician {
  background-color: #ffb372;
}
#hair-stylist {
  background-color: #ffc86f;
}
#contact-text {
  font-size: 40px;
  color: #8b4000;
  text-align: center;
}

#contact-btn {
  background-color: #fc861f;
  border: 8px solid #ffc376;
  font-size: 40px;
  color: white;
  width: 400px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

/* Contact */
#contact-employees {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-employee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px;
}

.contact-employee-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 100px;
}

.contact-employee span {
  color: #a25300;
  font-size: 25px;
}

.contact-employee-details .employee-title {
  font-size: 29px;
}
